html,
body {
  height: 100%;
  margin: 0;
  font-family: "Fredoka One", cursive;
}

.app {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-family: "Monoton", cursive;
  font-size: 90px;
  text-shadow: 4px 4px #a0a6aa;
  opacity: 1;
  transform: translateY(400px);
  transition: font-size 2s;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

.slide {
  transform: translateY(-40px);
  transition: transform 1s;
}

button {
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: black;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

button:hover {
  color: black;
  background-color: white;
  transition: color 1s, background-color 1s;
}

#start-btn {
  transform: translateY(400px);
}

.form-hide {
  display: none;
}

.form-display {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30%;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

#name-form {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

#names-btn {
  width: 7em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
