html,
body {
  height: 100%;
  margin: 0;
  font-family: "Fredoka One", cursive;
}

.app {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-family: "Monoton", cursive;
  font-size: 90px;
  text-shadow: 4px 4px #a0a6aa;
  transform: translateY(300px);
  transition: font-size 2s;
}

.slide-up {
  transform: translateY(-40px);
  transition: transform 1s;
}

button {
  font-family: "Fredoka One", cursive;
  font-size: 30px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: black;
}

button:hover {
  color: black;
  background-color: white;
  transition: color 1s, background-color 1s;
}

#start-btn {
  transform: translateY(400px);
}

.hide {
  display: none;
}

.form-display {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 30%;
}

.names {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  width: 100%;
}

.inputs {
  font-family: "Fredoka One", cursive;
}

.game-display {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.text {
  font-size: 1.5em;
  margin: 1em;
}

#scoreboard-gameboard {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 2em;
}

#gameboard {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.game-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* font-family: "Fredoka One", cursive; */
  color: white;
  font-size: 6em;
  height: 1em;
  width: 1em;
}

.game-square:hover {
  background-color: grey;
}

.game-buttons {
  font-size: 1.5em;
  margin: 5px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shake {
  animation-name: shake;
  animation-iteration-count: 5;
  animation-duration: 0.1s;
}

@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.slide-down {
  /* transform: translateY(400px); */
  /* opacity: 0; */
  /* visibility: hidden; */
  /* z-index: 0; */
  /* height: 0px; */
  /* transition: height 2s, visibility 2s, opacity 1s, transform 1s; */
  display: none;
}
